---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
<div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<div class="papers">
<h2>Published (Peer-reviewed journals, conferences and workshops)</h2>
<hr />
{% assign posts = site.data.publications.published | sort: "title" | sort: "date" | reverse %}
{% for post in posts %}
<h3 class="paper" itemprop="headline">{{ post.title }}</h3>
<p>
  {% if post.author %}
    <span class="authors">
    {% for author in post.author %}
      {% assign parts = author | split: ',' %}
      {% if parts.size > 1 %}
        {{ parts[1] | strip }} {{ parts[0] | strip }}{% unless forloop.last %}, {% endunless %}
      {% else %}
        {{ author | strip }}{% unless forloop.last %}, {% endunless %}
      {% endif %}
    {% endfor %}
    </span>
    <br />
  {% endif %}
  <span class="journal"><i>{{ post.parent.title }}</i></span>, <span class="date">{{ post.date }}</span>
  {% if post.url %}
    <a href="{{ post.url }}">[Paper link]</a>&nbsp;
  {% endif %}
  {% if post.preprint %}
    <a href="{{ post.preprint }}">[Preprint]</a>&nbsp;
  {% endif %}
  {% if post.slides %}
    <a href="{{ post.slides }}">[Slides]</a>&nbsp;
  {% endif %}
  {% if post.zenodo %}
    <a href="{{ post.zenodo }}">[Data on Zenodo]</a>&nbsp;
  {% endif %}
  {% if post.github %}
    <a href="{{ post.github }}">[Code on GitHub]</a>&nbsp;
  {% endif %}
</p>
{% endfor %}

<h2>Under review (Peer-reviewed journals, conferences and workshops)</h2>
<hr />
{% assign posts = site.data.publications.review | sort: "title" | sort: "date" | reverse %}
{% for post in posts %}
<h3 class="paper" itemprop="headline">{{ post.title }}</h3>
<p>
  {% if post.author %}
    <span class="authors">
    {% for author in post.author %}
      {% assign parts = author | split: ',' %}
      {% if parts.size > 1 %}
        {{ parts[1] | strip }} {{ parts[0] | strip }}{% unless forloop.last %}, {% endunless %}
      {% else %}
        {{ author | strip }}{% unless forloop.last %}, {% endunless %}
      {% endif %}
    {% endfor %}
    </span>
    <br />
  {% endif %}
  <span class="journal"><i>{{ post.parent.title }}</i></span>, <span class="date">{{ post.date }}</span>
  {% if post.url %}
    <a href="{{ post.url }}">[Paper link]</a>&nbsp;
  {% endif %}
  {% if post.preprint %}
    <a href="{{ post.preprint }}">[Preprint]</a>&nbsp;
  {% endif %}
  {% if post.slides %}
    <a href="{{ post.slides }}">[Slides]</a>&nbsp;
  {% endif %}
  {% if post.zenodo %}
    <a href="{{ post.zenodo }}">[Data on Zenodo]</a>&nbsp;
  {% endif %}
  {% if post.github %}
    <a href="{{ post.github }}">[Code on GitHub]</a>&nbsp;
  {% endif %}
</p>
{% endfor %}
</div>