---
layout: archive
title: "Teaching & Supervision"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<h2>Supervision</h2>
During my postdoctoral research, I had the opportunity to co-supervise several PhD students. 

<ul>
  <li><strong>Shadan Ghafari</strong> (starting soon) - Parametric optimization on MILPs for energy systems modeling. </li>
  <li><strong>Baptiste Istace</strong> (ongoing) - Counterfactuals for energy systems modeling.</li>
  <li><strong>Ahmed Tayachi</strong> (ongoing) - LLMs for transparency of large energy models.</li>
  <li><strong>Antoine Larbanois</strong> (ongoing) - Lead-cooled fast reactor SMR integration into the Belgian Energy Landscape.</li>
  <li><strong>Bardhyl Miftari</strong> (done 2025) - Sensitivity analysis for linear changes of the constraint matrix of a (mixed-integer) linear program.</li>
</ul>

In a lesser degree, I was also heavily involved in the supervision of the following PhD students, but not as a direct co-supervisor:
<ul>
  <li><strong>Samy Mokeddem</strong> (ongoing) - Distributed e-Fuel Hubs (DEFH).</li>
  <li><strong>Amina Benzerga</strong> (done 2025) - Hosting capacity evaluation.</li>
  <li><strong>Jocelyn Mbenoun</strong> (ongoing) - Modeling of the 2050 Belgian Energy System</li>
  <li><strong>Samy Aittahar</strong> (ongoing) - Optimal Control of Renewable Energy Communities subject to Network Peak Fees with Model Predictive Control and Reinforcement Learning Algorithms.</li>
</ul>

<h2>Courses taught</h2>
<p> Click on the courses to learn more about them. </p>

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
